@font-face {
  font-family: 'THICCCBOI';
  src: url('./assets/fonts/THICCCBOI-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'THICCCBOI', sans-serif;
}